{{#each menu}}
  <tr>
    <td class="backgroundGreen">{{namepizza}}<span
        class="ResponsivePuntos"
      >{{spanresponsive}}</span>
    </td>
    <td data-label="{{p4}}" class="precios">{{pricep4}}</td>
    <td data-label="{{sp4}}" class="precios">{{pricesp4}}</td>
    <td data-label="{{m8}}" class="precios">{{pricem8}}</td>
    <td data-label="{{f8}}" class="precios">{{pricef8}}</td>
    <td data-label="{{g12}}" class="precios">{{priceg12}}</td>
    <td
      data-label="{{eg16}}"
      class="precios"
      id="borderResponsive"
    >{{priceeg16}}</td>
  </tr>
{{/each}}